@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f9;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
}

.show-modal {
    z-index: 10;
    visibility: visible;
    transition-duration: 2s;
    transition-property: opacity;

}

.showbtn1 {
    padding: 0.3rem 0.5rem;
    background: #49a6e9;
    border: none;
    border-radius: 5px;
    color: #f1f5f9;
    font-size: 1rem;
    box-shadow: 5px 5px 5px #88c4f0;

}

.showbtn1:hover {
    background: #0d90ee;
    transition-duration: 0.3s;

}

.modal-container {
    background-color: white;
    width: 90vw;
    height: 30vh;
    border-radius: 0.25rem;
    max-width: 600px;

    text-align: center;
    place-items: center;
    display: grid;
    position: relative;
}

.showbtn {
    display: grid;
    /* place-items: center; */
    position: absolute;
    top: 50%;
    left: 45%;
}

.sidebtn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: #49a6e9;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;

}

@keyframes bounce {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.5)
    }

    100% {
        transform: scale(1)
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: auto 1fr auto;
    row-gap: 1rem; */
    background: #ffffff;
    box-shadow: #842029;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out all;
    ;
}

.show-sidebar {
    transform: translateX(0);
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}